{
  "users" : {
    "approved" : [
      { 
        "nickname": "rollmaster",
        "id": "1234567890"
      }
    ]
  },
  "matches":  [
    { 
      "sides": 1000
      "images": {
        "min": "img_url_for_min_roll",
        "max": "img_url_for_max_roll"
      }
    }
  ],
  "mongo": {
    "host": "127.0.0.1",
    "port": "27017",
    "db": "testDice",
    "collection": "dieRolls"
  }
}